<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='books.css') }}"
    >
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
        {% for x in books %}
        <img src="{{ url_for('static', filename='Images/') }}{{ x.img }}" alt="Image de {{ x.title }}">
        <ul>
            <li>{{ x.title }}</li>
            <li>{{ x.author }}</li>
            <li>{{ x.price }}</li>
            <li><a href="{{ x.url }}">
                <button>Acheter</button>
            </a></li>
        </ul>
        {% endfor %}
</body>
</html>