<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='home.css') }}"
    >
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for x in names %}
        <li>{{ x }}</li>
        {% endfor %}
    </ul>
</body>
</html>